{% extends 'main/base.html' %}

{% block title %}
    {{ user }}
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5 mb-4">Личный кабинет</h1>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    {% if customer.profile_photo %}
                        <img src="{{ customer.profile_photo.url }}" alt="Profile Photo" class="img-fluid rounded-circle" style="max-width: 200px;">
                    {% else %}
                        <p class="lead">Фото профиля не загружено</p>
                    {% endif %}
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3" style="margin-top: 10px">
                            <input type="file" name="profile_photo" class="form-control" id="id_profile_photo" accept="image/*">
                        </div>
                        <button type="submit" class="btn btn-primary">Изменить фото</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Информация о пользователе</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Имя пользователя:</strong> {{ customer.user.username }}</li>
                        <li class="list-group-item"><strong>Электронная почта:</strong> {{ customer.user.email }}</li>
                        <li class="list-group-item"><strong>Номер телефона:</strong> {{ customer.phone_number }}</li>
                        <li class="list-group-item"><strong>Дата рождения:</strong> {{ customer.date_of_birth }}</li>
                        <li class="list-group-item"><strong>Баланс:</strong> {{ customer.balance }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="mt-5">Детали заказов</h1>
    <div class="row">
        {% if orders %}
            {% for order in orders %}
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Информация о заказе №{{ order.id }}</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Дата начала аренды:</strong> {{ order.start_date }}</li>
                                <li class="list-group-item"><strong>Дата окончания аренды:</strong> {{ order.end_date }}</li>
                                <li class="list-group-item"><strong>Начальная точка маршрута:</strong> {{ order.start_point }}</li>
                                <li class="list-group-item">
                                    <strong>Дополнительные точки маршрута:</strong>
                                    <ul>
                                        {% for point in order.additional_points.all %}
                                            <li>{{ point }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="list-group-item"><strong>Последняя точка маршрута:</strong> {{ order.end_point }}</li>
                                <li class="list-group-item"><strong>Метод оплаты:</strong> {{ order.get_payment_method_display }}</li>
                                <li class="list-group-item"><strong>Статус:</strong> {{ order.status }}</li>
                                <li class="list-group-item"><strong>Выбранный автобус:</strong> {{ order.bus.brand.name }} {{ order.bus.model }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-md-12">
                <div class="alert alert-info" role="alert">
                    Текущих заказов нет
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
