{% extends 'main/base.html' %}

{% block title %}
    {{ customer.user.username }} - Личный кабинет
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5 mb-4">Личный кабинет</h1>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    {% if customer.profile_photo %}
                        <img src="{{ customer.profile_photo.url }}" alt="Profile Photo" class="img-fluid rounded-circle" style="max-width: 200px;">
                    {% else %}
                        <p class="lead">Фото профиля не загружено</p>
                    {% endif %}
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3" style="margin-top: 10px">
                            <input type="file" name="profile_photo" class="form-control" id="id_profile_photo" accept="image/*">
                        </div>
                        <button type="submit" class="btn btn-primary">Изменить фото</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Информация о пользователе</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Имя пользователя:</strong> {{ customer.user.username }}</li>
                        <li class="list-group-item"><strong>ФИО:</strong> {{ customer.user.first_name }} {{ customer.user.last_name }}</li>
                        <li class="list-group-item"><strong>Электронная почта:</strong> {{ customer.user.email }}</li>
                        <li class="list-group-item"><strong>Роль пользователя:</strong>
                            {% if customer.user.is_customer %}
                                Арендатор
                            {% elif customer.user.is_employee %}
                                Сотрудник
                            {% endif %}
                        </li>
                        <li class="list-group-item"><strong>Номер телефона:</strong> {{ customer.phone_number }}</li>
                        <li class="list-group-item"><strong>Дата рождения:</strong> {{ customer.date_of_birth }}</li>
                        <li class="list-group-item"><strong>Баланс:</strong> {{ customer.balance }}</li>
                        <li class="list-group-item"><strong>Дата регистрации:</strong> {{ customer.user.date_joined|date:"d.m.Y" }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="mt-5">Детали заказов</h1>
    <div class="row">
        {% if orders %}
            {% for order in orders %}
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Информация о заказе №{{ order.id }}</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Дата начала аренды:</strong> {{ order.start_date }}</li>
                                <li class="list-group-item"><strong>Дата окончания аренды:</strong> {{ order.end_date }}</li>
                                <li class="list-group-item"><strong>Начальная точка маршрута:</strong> {{ order.start_point }}</li>
                                <li class="list-group-item">
                                    <strong>Дополнительные точки маршрута:</strong>
                                    <ul>
                                        {% for point in order.additional_points.all %}
                                            <li>{{ point }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="list-group-item"><strong>Последняя точка маршрута:</strong> {{ order.end_point }}</li>
                                <li class="list-group-item"><strong>Метод оплаты:</strong> {{ order.get_payment_method_display }}</li>
                                <li class="list-group-item"><strong>Статус:</strong>
                                    {% if order.status == 'completed' %}
                                        Завершен
                                    {% else %}
                                        {% if order.status == 'confirmed' %}
                                            Водитель принял заказ! Он уже в пути!
                                            <li class="list-group-item"><strong>Контакты водителя:</strong> {{ order.bus.driver.phone_number }}</li>
                                        {% elif order.status == 'cancelled' %}
                                            <span class="text-danger">
                                                {% if order.cancelled_by == 'customer' %}
                                                    Пользователь отменил заказ
                                                {% elif order.cancelled_by == 'driver' %}
                                                    Водитель отменил заказ
                                                {% endif %}
                                            </span>
                                            <li class="list-group-item"><strong>Сообщение:</strong>{{ order.cancel_reason }}</li>
                                        {% else %}
                                            В ожидании подтверждения
                                        {% endif %}
                                    {% endif %}
                                </li>
                                <li class="list-group-item"><strong>Выбранный автобус:</strong> {{ order.bus.brand.name }} {{ order.bus.model }}</li>
                                <li class="list-group-item"><strong>Статус водителя:</strong>
                                    {% if order.bus.driver.status == 'online' %}
                                        <span class="text-success">На линии</span>
                                    {% elif order.bus.driver.status == 'returning' %}
                                        <span class="text-warning">Возвращаюсь в парк</span>
                                    {% elif order.bus.driver.status == 'on_order' %}
                                        <span class="text-info">Выполняю заказ</span>
                                    {% else %}
                                        <span class="text-muted">Не в сети</span>
                                    {% endif %}
                                </li>
                            </ul>
                            {% if order.status != 'cancelled' and order.status != 'confirmed' and order.status != 'completed' %}
                                <form method="post" action="{% url 'cancel_order' order.id %}">
                                    {% csrf_token %}
                                    <div class="form-group mt-3">
                                        <label for="cancel_reason">Причина отмены:</label>
                                        <textarea id="cancel_reason" name="cancel_reason" class="form-control" required></textarea>
                                        <button type="submit" class="btn btn-danger mt-2">Отменить заказ</button>
                                    </div>
                                </form>
                            {% endif %}
                            {% if order.status == 'completed' and order.id not in reviews_dict %}
                                <a href="{% url 'leave_review' order.id %}" class="btn btn-primary mt-3">Оставить отзыв</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-md-12">
                <div class="alert alert-info" role="alert">
                    Текущих заказов нет
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
