{% extends 'main/base.html' %}

{% block title %}
    {{ user }}
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5 mb-4">Личный кабинет водителя</h1>
    {% if not driver.is_approved %}
    <div class="alert alert-warning">
        Ваш аккаунт пока что не подтвержден администратором. Вы не можете изменить статус на "На линии".
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    {% if driver.profile_photo %}
                        <img src="{{ driver.profile_photo.url }}" alt="Profile Photo" class="img-fluid rounded-circle" style="max-width: 250px;">
                    {% else %}
                        <p class="lead">Фото профиля не загружено</p>
                    {% endif %}
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3" style="margin-top: 10px">
                            <input type="file" name="profile_photo" class="form-control" id="id_profile_photo" accept="image/*">
                        </div>
                        <button type="submit" class="btn btn-primary">Изменить фото</button>
                    </form>
                </div>
            </div>

            {% if buses %}
                {% for bus in buses %}
                    <div class="card mt-4">
                        <div class="card-body">
                            <h3 class="card-title">Закрепленный автомобиль</h3>
                            <p><strong>Марка и модель:</strong> {{ bus.brand }} {{ bus.model }}</p>
                            <p><strong>Государственный номер:</strong> {{ bus.license_plate }}</p>
                            <form method="post" action="{% url 'bus_dettach' bus.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" name="action" value="bus_dettach">Открепить автомобиль</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="card mt-4">
                    <div class="card-body">
                        <h3 class="card-title">Закрепленный автомобиль</h3>
                        <p>Вы не закреплены за каким-либо автомобилем.</p>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Информация о водителе</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Пользователь:</strong> {{ driver.user.username }}</li>
                        <li class="list-group-item"><strong>Ваше имя:</strong> {{ driver.user.first_name }}</li>
                        <li class="list-group-item"><strong>Ваша фамилия:</strong> {{ driver.user.last_name }}</li>
                        <li class="list-group-item"><strong>Электронная почта:</strong> {{ driver.user.email }}</li>
                        <li class="list-group-item"><strong>Номер телефона:</strong> {{ driver.phone_number }}</li>
                        <li class="list-group-item"><strong>Дата рождения:</strong> {{ driver.date_of_birth }}</li>
                        <li class="list-group-item"><strong>Водительское удостоверение:</strong> {{ driver.driver_license }}</li>
                        <li class="list-group-item"><strong>Опыт вождения (в годах):</strong> {{ driver.experience_years }}</li>
                        <li class="list-group-item"><strong>Вы: </strong><span class="text-success"> Водитель</span></li>
                        <li class="list-group-item">
                            <strong>Статус: </strong>
                            {% if driver.status == 'online' %}
                                <span class="text-success">На линии</span>
                            {% elif driver.status == 'returning' %}
                                <span class="text-warning">Возвращаюсь в парк</span>
                            {% elif driver.status == 'on_order' %}
                                <span class="text-info">Выполняю заказ</span>
                            {% else %}
                                <span class="text-muted">Не в сети</span>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Форма изменения статуса -->
            <div class="card mt-4">
                <div class="card-body">
                    <h3 class="card-title">Изменение статуса</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ status_form.as_p }}
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </form>
                </div>
            </div>
            <!-- /Форма изменения статуса -->

            <!-- Отображение заказов -->
            {% if driver.is_approved and driver.status == 'online' %}
                {% if orders %}
                    {% for order in orders %}
                        <div class="card mt-4">
                            <div class="card-body">
                                <h3 class="card-title">Информация о заказе №{{ order.id }}</h3>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><strong>Дата начала аренды:</strong> {{ order.start_date }}</li>
                                    <li class="list-group-item"><strong>Дата окончания аренды:</strong> {{ order.end_date }}</li>
                                    <li class="list-group-item"><strong>Начальная точка маршрута:</strong> {{ order.start_point }}</li>
                                    <li class="list-group-item">
                                        <strong>Дополнительные точки маршрута:</strong>
                                        <ul>
                                            {% for point in order.additional_points.all %}
                                                <li>{{ point }}</li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li class="list-group-item"><strong>Последняя точка маршрута:</strong> {{ order.end_point }}</li>
                                    <li class="list-group-item"><strong>Метод оплаты:</strong> {{ order.get_payment_method_display }}</li>
                                    <li class="list-group-item"><strong>Статус:</strong>
                                        {% if order.status == 'confirmed' %}
                                            Принят! Удачной поездки!
                                        {% elif order.status == 'cancelled' %}
                                            Отменен.
                                        {% elif order.status == 'completed' %}
                                            Завершен.
                                        {% else %}
                                            В ожидании подтверждения
                                        {% endif %}
                                    </li>
                                    <li class="list-group-item"><strong>Выбранный автобус:</strong> {{ order.bus.brand.name }} {{ order.bus.model }}</li>
                                    <li class="list-group-item"><strong>Водитель:</strong> {{ order.bus.driver.user.get_full_name }}</li>
                                </ul>

                                <!-- Форма принятия или отклонения заказа -->
                                {% if order.status != 'confirmed' and order.status != 'cancelled' and order.status != 'completed'%}
                                    <form method="post" action="{% url 'handle_order' order.id %}">
                                        {% csrf_token %}
                                        <div class="form-group mt-3">
                                            <label for="cancel_reason">Сообщение: </label>
                                            <textarea style="margin-bottom: 10px" id="cancel_reason" name="cancel_reason" class="form-control" required></textarea>
                                            <button type="submit" class="btn btn-success" name="action" value="accept">Принять заказ</button>
                                            <button type="submit" class="btn btn-danger" name="action" value="reject">Отклонить заказ</button>
                                        </div>
                                    </form>
                                {% endif %}
                                <!-- /Форма принятия или отклонения заказа -->

                                {% if order.status == 'confirmed' %}
                                    <form method="post" action="{% url 'handle_order' order.id %}">
                                        {% csrf_token %}
                                        <div class="form-group mt-3">
                                            <button type="submit" class="btn btn-success" name="action" value="complete">Завершить заказ</button>
                                        </div>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Нет доступных заказов для отображения</p>
                {% endif %}
            {% else %}
                {% if driver.is_approved %}
                    <div class="alert alert-warning mt-4">
                        Для просмотра доступных заказов перейдите в статус "На линии".
                    </div>
                {% endif %}
            {% endif %}
            <!-- /Отображение заказов -->
        </div>
    </div>
</div>
{% endblock %}
