{% extends 'main/base.html' %}

{% block title %}
    Детали автобуса
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5 mb-4">Детали автобуса</h1>
    <div class="row">
        <div class="col-md-4">
            <img src="{{ bus.bus_photo.url }}" class="img-fluid rounded" alt="{{ bus.brand }} {{ bus.model }}">
        </div>
        <div class="col-md-8">
            <h2>{{ bus.brand }} {{ bus.model }}</h2>
            <ul class="list-group">
                <li class="list-group-item"><strong>Год выпуска:</strong> {{ bus.year_of_production }}</li>
                <li class="list-group-item"><strong>Трансмиссия:</strong> {{ bus.get_transmission_type_display }}</li>
                <li class="list-group-item">
                    <strong>Доступность:</strong>
                    {% if bus.is_available %}
                        <span class="text-success">Доступен</span>
                    {% else %}
                        <span class="text-danger">Не доступен</span>
                    {% endif %}
                </li>
                <li class="list-group-item"><strong>Категория:</strong> {{ bus.category.name }}</li>
                <li class="list-group-item"><strong>Бренд:</strong> {{ bus.brand.name }}</li>
                {% if bus.driver %}
                    <li class="list-group-item"><strong>Водитель:</strong> {{ bus.driver.name }}</li>
                {% else %}
                    <li class="list-group-item"><strong>Водитель:</strong> Нет назначенного водителя</li>
                {% endif %}
            </ul>
            <a href="{% url 'catalog' %}" class="btn btn-primary mt-3">Назад к каталогу</a>
            <a href="{% url 'order_with_driver' bus.id %}" class="btn btn-primary mt-3">Арендовать авто с водителем</a>
            <a href="{% url 'catalog' %}" class="btn btn-primary mt-3">Арендовать авто без водителя</a>
        </div>
    </div>
</div>
{% endblock %}
