{% extends 'main/base.html' %}

{% block title %}
    Техническая поддержка
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5 mb-4">Форма технической поддержки</h1>
    {% if success %}
        <h1 class="text-success">Форма была отправлена успешно!</h1>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Ваше имя:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Ваш Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Ваш вопрос:</label>
            <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
{% endblock %}
