{% extends 'main/base.html' %}

{% block title %}
    Регистрация для арендаторов
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" class="mt-5">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Имя пользователя:</label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label for="{{ form.first_name.id_for_label }}">Имя:</label>
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    <label for="{{ form.last_name.id_for_label }}">Фамилия:</label>
                    {{ form.last_name }}
                </div>
                <div class="form-group">
                    <label for="{{ form.phone_number.id_for_label }}">Номер телефона:</label>
                    {{ form.phone_number }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}">Пароль:</label>
                    {{ form.password1 }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}">Подтверждение пароля:</label>
                    {{ form.password2 }}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
