{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon.png' %}">
    {% block links %}
    {% endblock %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Автобусная гавань</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'catalog' %}">Парк автобусов</a>
                </li>
                        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              О компании
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'about' %}">О нас</a></li>
            <li><a class="dropdown-item" href="{% url 'reviews' %}">Отзывы о компании</a></li>
              <li><a class="dropdown-item" href="#">Интересные маршруты</a></li>
              <li><a class="dropdown-item" href="{% url 'support' %}">Техническая поддержка</a></li>
              <li><a class="dropdown-item" href="{% url 'service' %}">Услуги компании</a></li>
              <li><a class="dropdown-item" href="{% url 'contact' %}">Контакты</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'license' %}">Лицензионное соглашение</a></li>
          </ul>
        </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Вы вошли как: {{ user }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'personal_account' %}">
                            {% if user.customer.profile_photo %}
                                <img src="{{ user.customer.profile_photo.url }}" alt="Profile Photo" class="rounded-circle" style="max-width: 30px; margin-right: 10px">
                            {% endif %}
                            {% if user.driver.profile_photo %}
                                <img src="{{ user.driver.profile_photo.url }}" alt="Profile Photo" class="rounded-circle" style="max-width: 30px; margin-right: 10px">
                            {% endif %}
                            {% if user.admin.profile_photo %}
                                <img src="{{ user.admin.profile_photo.url }}" alt="Profile Photo" class="rounded-circle" style="max-width: 30px; margin-right: 10px">
                            {% endif %}
                            Личный кабинет
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                    </li>
                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'review_drivers' %}">Заявки водителей</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin:index' %}">Админ панель</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Войти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Зарегистрироваться</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block content %}

{% endblock %}

{% block scripts %}

{% endblock %}
</body>
</html>
