{% extends 'main/base.html' %}

{% block title %}
    Автобусная гавань
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5 mb-4">Наш автобусный парк: Автобусная гавань</h1>
    <h2>О нас</h2>
    <p>Добро пожаловать в "Автобусную гавань" - ваш надежный партнер в сфере автобусных перевозок! Мы гордимся тем, что обеспечиваем высококачественные и надежные услуги по аренде автобусов, транспортировке пассажиров и решению мобильности ваших потребностей.</p>

    <h2>Наша миссия</h2>
    <p>Миссия "Автобусной гавани" - предоставить нашим клиентам безопасные, комфортные и надежные автобусные перевозки, основанные на высоких стандартах сервиса, профессионализме и инновациях.</p>

    <h2>Наши услуги</h2>
    <p>Мы специализируемся на широком спектре услуг, включая:</p>
    <ul>
        <li>Аренда автобусов</li>
        <li>Транспортировка пассажиров</li>
        <li>Организация экскурсий и туров</li>
    </ul>

    <h2>Наши ценности</h2>
    <p>Наша работа основана на следующих ценностях: профессионализм, комфорт и безопасность, инновации, ответственность.</p>

    <h2>Наша команда</h2>
    <p>Наша команда состоит из опытных профессионалов, которые готовы предложить вам высококачественное обслуживание и помощь в решении ваших потребностей в области автобусных перевозок.</p>

    <h2>Свяжитесь с нами</h2>
    <p>Мы всегда готовы ответить на ваши вопросы и помочь вам с выбором наших услуг. Свяжитесь с нами сегодня, и доверьте нам свои потребности в автобусных перевозках!</p>
</div>
{% endblock %}
