{% extends 'main/base.html' %}

{% block title %}
    Правила лицензионного соглашения и обработка персональных данных
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5 mb-4">Правила лицензионного соглашения и обработка персональных данных</h1>

    <h2>Лицензионное соглашение</h2>
    <p>Добро пожаловать на наш сайт "Автобусная гавань". Используя наш веб-сайт, вы соглашаетесь с нашими условиями использования. Пожалуйста, внимательно ознакомьтесь с правилами ниже, прежде чем использовать наш сайт.</p>
    <ol>
        <li>Пользователи обязуются использовать сайт с уважением к другим пользователям и не нарушать их права.</li>
        <li>Запрещается размещение незаконного контента, включая, но не ограничиваясь, материалами нарушающими авторские права.</li>
        <li>Администрация сайта оставляет за собой право удалять или блокировать любой контент или аккаунты пользователей, нарушающие наши правила.</li>
        <li>Мы не несем ответственности за контент, размещенный пользователями на нашем сайте.</li>
    </ol>

    <h2>Обработка персональных данных</h2>
    <p>Мы ценим вашу конфиденциальность и обеспечиваем защиту ваших персональных данных в соответствии с применимым законодательством.</p>
    <p>Мы собираем и используем ваши персональные данные только с вашего согласия и в целях, указанных в нашей Политике конфиденциальности. Мы не передаем ваши данные третьим лицам без вашего разрешения, за исключением случаев, предусмотренных законом.</p>
    <p>Вы имеете право на доступ к вашим персональным данным, их исправление и удаление, а также на ограничение обработки и возражение против обработки ваших данных.</p>
    <p>Дополнительную информацию о нашей политике конфиденциальности и обработке персональных данных вы можете найти на соответствующей странице нашего сайта.</p>
</div>
{% endblock %}
